body{
font-family: apple chancery, cursive;
margin: 20px;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  font-family: apple chancery, cursive;
}



#instrument-list-item {
  margin: 0.75rem 0.75rem;


}
